.save-assets-btn {
    cursor: pointer;
    color: white;
    padding:  1rem 1.5rem;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.2px;
    border-radius: 6px; 
    user-select: none;
    background: aquamarine;
}

.save-assets-btn-inactive {
    pointer-events: none;
    background: rgba(127, 255, 212, 0.384);
}
