.new-audio-assets {
    outline: solid 1px chocolate;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.audio-asset-header {
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.audio-asset-header-left {
    display: flex;
    gap: 0.5rem;
}


.audio-asset-header-right {
    display: flex;
}