.tag {
    user-select: none; /* disables text selection */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.50rem 1.25rem 0.50rem 1.25rem;
    background-color: aquamarine;
    border-radius: 10px;
}

.tag-exit-btn {
    cursor: pointer;
    position: absolute;
    top: -2px;
    right: 4px;
}