* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
  line-height: 1.6;
}

input {
  border: none;
}
input:focus {
  border: none;
  outline: none;
}

button,
input[type="submit"],
input[type="reset"] {
  margin: 0;
  padding: 0;
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;

  line-height: 0;
  box-sizing: border-box;
}
