.new-audio-asset {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;
    display: flex;
}

.new-audio-asset-left {
    display: flex;
    gap: 0.5rem;
}

.hidden {
    display: none;
}